body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 15%;
  height: 100%;
  background: linear-gradient(to left, rgb(108, 61, 84), rgb(0, 8, 12));
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  font-size: 3;
  color: #b09b93;
}

.digit-style {
  font-size: 4rem;
  padding: 10px;
  color: #b09b93;
}

.time-separator {
  font-size: 3rem;
  color: #b09b93;
}

.message {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  color: #b09b93;
}
