body {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin-top: 10%;
  background: linear-gradient(to left, rgb(108, 61, 84), rgb(0, 8, 12));
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b09b93;
}

.digit-style {
  padding: 8px 8px;
  text-align: center;
  font-size: 3.0rem;
  color: #b09b93;
}

.time-separator {
  text-align: center;
  font-size: 3.5rem;
  color: #b09b93;
}

.message {
  margin-top: 5%;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b09b93;
}
