body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to left, rgb(108, 61, 84), rgb(0, 8, 12));
}

h1 {
  font-weight: lighter;
  font-size: 3rem;
  color: #b09b93;
}

.timer .digit {
  padding: 20px 15px 15px 20px;
  margin: 5px;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #b09b93;
}

.timer .separator {
  margin: 5px;
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #b09b93;
}

.timer .message {
  padding-top: 25px;
  text-align: center;
  font-size: 1.8em;
  font-weight: lighter;
  color: #b09b93;
}
